.content{
    
    .sm-block({
        height: 100%;

    });
   
    .middle{
        background: #f5f0f0;  
        width: 100%;
        height: 100%;
      
        .xs-block({
            margin: 0;
            display: block
            
           
         });
       
        .row-flex();
        .sidebar{
            .row-flex();
            .col();
            .size(4);
            .size-sm(12);
            .size-ipad(12);
            .size-xs(12);
            .sm-block({
                background: #100f3a;
                margin: 0;
                width: 100%;
                height: 473px;
            });
            .ipad-block({
                background: #100f3a;
                margin: 0;
                width: 100%
            });
            background: #100f3a;
            .xs-block({
               height: 53em !important;
                width: 100%;
               background: #100f3a;
               
            });
            margin: 0;
            
            .img{
                .sm-block({
                    margin: 0;
                    
                    background-repeat: no-repeat
                });
                .ipad-block({
                    margin: 0;
                    width: 100%;
                    background-repeat: no-repeat
                });
                .xs-block({
                   
                    
                   background-size: 100%;
                   
                    width: 100%;
                    
                    border: none;
                    border-radius: 0;
                });
                width: 100%;
                height: 474px;
                margin: 0;
                display: flex;
                justify-content: center;
                
                .col();
                .size-sm(6);
                .size-ipad(6);
                .size-xs(13);
               img{
                   
                  
                   height: 420px;
                   position: relative;
                   top: 54px;
                   .xs-block({
                       top:54px;
                   });
                   
               }
              
                
            }
            .infa{
                .col();
                .size-sm(6);
                .size-ipad(6);
                .size-xs(12);
                .sm-block({
                    
                    position: relative;
                    left: 10px;
                    
                });
                
                .ipad-block({
                   height: 100%;
                   
                   min-width: 400px;
                    
                });
                .xs-block({
                    margin: 0;
                    height: 40%;
                    width: 50%;
                   
                    
                });
                
                width: 100%;
                position: relative;
                right: 0px;
                height: 184px;
                display: flex;
                .sm-block({
                   
                   height: 400px;
                  
                   margin: 0 auto;
                 });
               
                .textskroll{
                    .ipad-block({
                        height: 100%;
                         margin: 50px 0;
                         position: absolute;
                         top: 10px;
                         right: 55px;
                     });
                   
                   .xs-block({
                    position: relative;
                    bottom: 100px;
                    
                  });
                    h2{
                        color: #fff;
                        font-size: 24px;
                        font-family: @font;
                        text-align: center;
                        padding-right: 20px;
                       
                        .ipad-block({
                           font-size: 36px
                         });
                         .ipads-block({
                            font-size: 26px;
                            padding: 0;
                            margin-left: 60px
                          });
                          .ssm-block({
                          
                            margin-left: 67px
                          });
                       
                    }
                    
                    
                    margin-top: 40px;
                   
                    padding-left: 20px;
                    width: 90%;
                    height: 37%;
                   
                    padding-bottom: 60px;
                    
                   
                    
                    .information{
                        .ipad-block({
                            margin: 0;
                            
                            
                            
                        });
                        .md-block({
                        
                        }); 
                        .xs-block({
                            position: relative;
                           left: 20px;
                            
                          });
                        
                        .item{
                            .md-block({
                                margin-right: 20px;
                                
                              }); 
                               
                              .ipad-block({
                                margin: 30px 22px;
                                
                                 
                             });  
                             .ipads-block({
                                margin: 30px 40px;
                              });  
                              .xs-block({
                                margin: 30px 15px; 
                              });

                          display: flex;
                          width: 400px;
                          flex-wrap: wrap;
                          margin-top: 20px;
                          
                            &__text{
                                
                                display: flex;
                                font-size: 14px;
                                font-family: @font;
                                justify-content: center;
                                padding-right: 10px;
                                
                                line-height: 40px;
                                flex-wrap: wrap;
                                width: 400px;
                                .ipad-block({
                                   font-size: 18px
                                 });  
                                 .ipads-block({
                                    font-size: 18px;
                                   
                                  });  
                               
                               .icon{
                                    i{
                                        color:#8583e1;
                                        padding-right: 10px;

                                    }
                                    span{
                                        color: #7a798c;
                                        padding-right: 10px;

                                    }
                               }
                               .tx{
                                   color: #fff;
                               }
                               &-block{
                                    display: flex;
                                    padding-left: 22px;
                               }
                            }
                            &__text:nth-child(2){
                                padding-right: 7px;
                                .ipad-block({
                                    padding-right: 3px;
                                   
                                     
                                 });  

                            }
                            &__text:nth-child(3){
                                padding-right: 35px;
                                .ipad-block({
                                    padding-right: 30px;
                                    
                                     
                                 }); 

                            }
                            &__text:nth-child(4){
                                padding-right: 52px;
                                .ipad-block({
                                    padding-right: 45px;
                                    
                                     
                                 }); 

                            }
                            &__network{
                                margin: 0 auto;
                                line-height: 60px;
                                a{
                                    color: #7a798c;
                                }
                                i{
                                    padding: 0 10px;
                                    
                                    
                                    
                                }
                                i:hover{
                                    color: #fff;
                                }
                            }
                            
                     
                           
                            
                        }
                    }
                }
               
             
                .simplebar-scrollbar:before{
                background: #fff;
                border-radius: 0;
                width: 4px;
                margin-left: 6px;
                transition: all 500ms;
                
                }
             
                
            

               
               /* .text:hover{
                    overflow: auto;
                }*/
                
            }
        }
        .section{
          
            width: 100%;
            .sm-block({
               height: 45%; 
                    
            });
            .xs-block({
                height: 52%;
                margin: 0;
                position: relative;
                bottom: 49px;
                
                width: 100% !important;

                background: #f5f0f0;
                   
             });
            .col();
            .size(8);
            .size-sm(12);
            .size-ipad(12);
            .size-xs(12);
            
            
           
           
            .heading{
                text-align: start;
                font-family: @font;
                margin-left: 65px;
                margin-top: 60px;
                height: 170px;
                .md-block({
                    
                    margin-left: 60px;  
                });
                .xxs-block({
                   
                    margin: 0 auto
                     
                 });
                 .sm-block({
                   
                    margin: 0
                    
                });
                .xs-block({
                   
                   position: relative;
                   top: 20px;
                    
                });
                 
               h4{
                font-size: 30px;
                font-weight: 500;
                color: #7a798c;
                line-height: 0.75;
              
                .sm-block({
                    font-size: 20px;
                    line-height: 1.35;
                    text-align: center;
                    margin-top: 50px;
                    
                });
                .ipad-block({
                    
                    line-height: 1.35;
                    text-align: center;
                    margin-top: 25px;
                    
                });
               
                
               }
               h2{
                font-size: 60px;
                font-weight: 800;
                color: #100f3a;
                line-height: 0.75;
                margin-top: 45px;
                .md-block({
                    font-size: 55px;
                    line-height: 0.95;
                    
                    
                });
                .sm-block({
                    font-size: 40px;
                    line-height: 0.35;
                    text-align: center;
                    margin-top: 30px;
                    
                });
                .ipad-block({
                    font-size: 56px;
                    line-height: 1.35;
                    text-align: center;
                    margin-top: 40px;
                    
                });
                .xs-block({
                    font-size: 50px;
                    margin-top: 50px;
                    padding: 0 20px;
                    
                });
                .xxs-block({
                    font-size: 45px;
                    margin-top: 20px;
                    line-height: 0.85;
                    
                });
               }
               .sklillHead{
               
                padding-top: 70px;
                padding-left: 70px;
               
           
             }
             .portHead{
                 padding-top: 40px;
             }
             .eduHead{
                padding-top: 40px;
                padding-left: 50px;
             }
             .contactHead{
                padding-top: 40px;
             }
           
            }
            
          
            .scrollContent{
               
                .port{
                    background: red;
                    height: 50px;

                }
                .edu{
                    .block{
                        display: flex;
                        height: 150px;
                        .icon{
                            padding: 0 30px;
                            display: flex;
                            i{
                                font-size: 67px;
                                align-self: center;
                                color: #7a798c;
                            }
                            span{
                                font-size: 24px;
                                width: 100px;
                                font-size: 24px;
                                font-weight: 700;
                                color: #8583e1;
                                line-height: 0.75;
                                align-self: center;
                            }
                        }
                       
                        .eduction{
                            align-self: flex-end;
                            h3{
                                font-size: 24px;
                                font-weight: 700;
                                color: #100f3a;
                                font-family: @font;
                                padding: 0;
                                line-height: 27px;
                               
                               
                            }
                            p{
                                font-size: 16px;
                                font-weight: 500;
                                color: #838293;
                                font-family: @font;
                                padding-top: 20px;
                                
                            }
                             
                            
                         }
                    }
                    .block:nth-child(2){
                        margin: 80px 0;
                        .eduction{
                            padding-left: 12px;
                        }
                    }
                }
                 
                .con{

                    display: flex;

                    .contact{
                        width: 100%;
                       .form{
                           margin-top: 60px;
                           margin-right: 70px;
                           input{
                               width: 100%;
                               border: none;
                               border-bottom: 2px solid #a5a5a5;
                               height: 40px;
                               background: transparent;
                               color: #a5a5a5;
                               font-size: 16px;
                               font-family: @font;
                               font-weight: 600;
                               padding: 5px 0;
                               margin: 5px 0;
                              
                           }
                           #mes{
                               height: 125px;
                               width: 100%;
                               border: none;
                               border-bottom: 2px solid #a5a5a5;
                               
                               background: transparent;
                               
                               
                               padding: 5px 0;
                               margin: 5px 0;
                           }
                           #mes::placeholder{
                            font-size: 16px;
                            font-family: @font;
                            font-weight: 600;
                            color: #a5a5a5;
                           }
                           #mes:focus{
                            border-bottom: 2px solid #8583e1;
                            outline: none;
                          }
                           input:focus{
                             border-bottom: 2px solid #8583e1;
                             outline: none;
                           }
                           input:hover{
                            border-bottom: 2px solid #8583e1;
                            outline: none;
                          }
                           .btn{
                            border: 1px solid #8583e1;
                            background: #8583e1;
                            margin-top: 40px;
                            width: 239px;
                            height: 55px;
                            font-size: 16px;
                            font-family: @font;
                            font-weight: 600;
                            color: #fff;
                        }
                        .btn:hover{
                            background: #100f3a;
                            border: 1px solid #100f3a;
                        }
                       }
                    }
                    .link{
                        
                      
                        .infor{
                            color: #100f3a;
                            font-size: 20px;
                            font-family: @font;
                            font-weight: 600;
                            width: 110px;
                            text-align: right;
                        }
                        .fab{
                            color: #8583e1;
                            
                            width: 110px;
                            font-size: 25px;
                            
                            text-align: right; 
                        }
                        .fas{
                            color: #8583e1;
                            
                            width: 110px;
                            font-size: 25px;
                            
                            text-align: right; 
                        }
                        .sv{
                            align-self:center;
                            font-size: 16px;
                            font-family: @font;
                            font-weight: 600;
                            color: #a5a5a5;
                            padding-left: 20px;
                        }
                        .phone{
                            display: flex;
                            margin-top: 10px;
                        }
                        .e-mail{
                            display: flex;
                            margin-top: 10px;
                            
                        }
                        .skype{
                            display: flex;
                            margin-top: 10px;
                        }
                        width: 100%;
                        .vk{
                            display: flex;
                            margin-top: 10px;
                        }
                        .ok{
                            display: flex;
                            margin-top: 10px;
                        }
                      
                        
                    }
                    .map{
                        
                     width: 100%;
                     
                 }
                }
              
                .md-block({
                  
                    width: 85%;
                    margin: 0 auto;
                    position: relative;
                    top: 18%;
                    height: 60%;
                    

                    
                });
                .sm-block({
                    position: relative;
                    top: -60px;
                   
                    height: 130px;

                });
                .ipad-block({
                   
                    position: relative;
                    top: 30px;
                   
                    height: 250px;
                });
                .xs-block({
                    height: 200px;
                    position: relative;
                    top: 00;
                    font-size: 18px;
                   
                    
                });
                
               
               
                width: 90%;
                height:370px;
                margin-left: auto;
                margin-right: 26px;
                margin-top: 20px;
                
                
                h3{
                    font-size: 30px;
                    font-weight: 700;
                    color: #100f3a;
                    font-family: @font;
                    padding-left: 2px;
                    padding-bottom: 40px;
                    .md-block({
                        
                       margin-left: 8%;
                    });  
                    
                }
                p{
                    font-family: @font;
                    font-size: 14px;
                    line-height: 1.85714;
                    font-weight: 500;
                    color: #838293;
                    padding-left: 2px;
                    width: 83%;
                    
                    
                   
                }
                .pr{
                    display: flex;
                    flex-wrap: wrap;
                    margin: 0  10%;
                    width: 100%;
                    
                   
                    .md-block({
                     
                     width: 600px;
                     margin: 0 auto
                     
                    });  
                    .xxs-block({
                     
                       display: block;
                     
                        
                       });  
                   
                   .block{
                       width: 437px;
                       .md-block({
                        
                        width: 300px;
                        margin: 0 auto;
                       });  
                       .xxs-block({
                     
                        
                        margin-left: 70px;
                      
                         
                        });  
                      
                       
                   
                    .progress-percentage{
                        color: rgb(16, 15, 58);
                        position: relative;
                        left: 30%;
                        top: 60%;
                        font-family: @font;
                        font-size: 44px;
                        font-weight: 700;
                        
                    }
                    &__text{
                        width: 265px;
                        margin-top: 70px;
                        
                        h4{
                            text-align: center;
                            font-size: 16px;
                            font-weight: 700;
                            color: #100f3a;
                            text-transform: uppercase;
                            line-height: 0.75;
                            font-family: @font;
                        }
                        p{
                            width: 265px;
                            text-align: center;
                            font-size: 14px;
                            font-weight: 500;
                            color: #7a798c;
                            margin-top: 12px;
                            font-family: @font;

                        }
                    }

                   
                   }
                        
                        
                      
                      
                    
                      
                }
               
                
            }
            .scrollSkills{
                .skills{
                    display: flex; 
                    padding: 5px;
                }
                .linearProgress{
                    .js{
                        display: flex;
                    }
                }
                
            }
            .simplebar-scrollbar:before{
                background: #3e3be4;
                border-radius: 0;
                width: 4px;
                margin-left: 6px;
                transition: all 500ms;
                
                                
                
               
                                 
                }

               
              
            
              
               
        }
    }
}



