.content{
    .sm-block({
        height: 100%;
    });
    .middle{
        background: #f5f0f0;  
        width: 100%;
        .sm-block({
            height: 100%;
        });
        .ipad-block({
            height: 100%;

        });
        .xs-block({
            margin: 0;
           
         });
       
        .row-flex();
        .sidebar{
            .row-flex();
            .col();
            .size(4);
            .size-sm(12);
            .size-ipad(12);
            .size-xs(12);
            .sm-block({
                background: #100f3a;
                margin: 0;
                width: 100%
            });
            .ipad-block({
                background: #100f3a;
                margin: 0;
                width: 100%
            });
            .xs-block({
               
               width: 100%;
               background: #100f3a;
               
            });
            .img{
                .sm-block({
                    margin: 0;
                    
                    background-repeat: no-repeat
                });
                .ipad-block({
                    margin: 0;
                    width: 100%;
                    background-repeat: no-repeat
                });
                .xs-block({
                   
                    .clearfix();
                   
                   
                    width: 100%;
                    
                    border: 5px solid #8583e1;
                    border-radius: 10px;
                    margin: 0 auto;
                    background-size: 100%;
                    background-repeat: no-repeat;
                });
                width: 100%;
                height: 474px;
                margin-left: -15px;
                display: flex;
                justify-content: center;
                .col();
                .size-sm(6);
                .size-ipad(6);
                .size-xs(12);
               img{
                   
                   margin: 0 auto;
                   height: 420px;
                   position: relative;
                   top: 54px;
                   .xs-block({
                       top:44px;
                   });
                   
               }
              
                
            }
            .infa{
                .col();
                .size-sm(6);
                .size-ipad(6);
                .size-xs(12);
                .sm-block({
                    margin: 0;
                    position: relative;
                    left: 10px;
                    
                });
                .ipad-block({
                    margin: 0;
                    position: relative;
                    left: 20px;
                    
                });
                .xs-block({
                    margin: 0;
                    position: relative;
                    left: 0px;
                    width: 100%;
                    
                });
                background: #100f3a;
                width: 100%;
                position: relative;
                right: 0px;
                height: 287px;
                display: flex;
                .md-block({
                   height: 400px;
                   width: 92%
                 });

                .textskroll{
                   
                   .md-block({
                    overflow:  hidden;
                    height: 400px;
                    margin-top: 50%;
                    
                   });
                   .xs-block({
                    position: relative;
                    bottom: 100px;
                    
                  });
                    h2{
                        color: #fff;
                        font-size: 24px;
                        font-family: @font;
                        text-align: center;
                        padding-bottom: 25px;
                       
                    }
                    
                    
                    margin: 0 auto;
                    align-self: center;
                   
                    width: 430px;
                    height:100px;
                    
                    .information{
                        .ipad-block({
                            margin: 0;
                            position: relative;
                            left: 20px;
                            
                        });
                        .md-block({
                          margin: 0 auto;
                          
                          position: relative;
                          right:  30px;
                        }); 
                        .xs-block({
                            position: relative;
                           left: 20px;
                            
                          });
                        
                        .item{
                            .md-block({
                                margin-right: 20px;
                                
                              }); 
                               
                              

                          display: flex;
                          width: 400px;
                          flex-wrap: wrap;
                            &__text{
                                
                                display: flex;
                                font-size: 14px;
                                font-family: @font;
                                justify-content: center;
                                padding-right: 20px;
                                line-height: 40px;
                                flex-wrap: wrap;
                                width: 400px;
                              
                               
                               .icon{
                                    i{
                                        color:#8583e1;
                                        padding-right: 10px;

                                    }
                                    span{
                                        color: #7a798c;
                                        padding-right: 10px;

                                    }
                               }
                               .tx{
                                   color: #fff;
                               }
                               &-block{
                                    display: flex;
                                    padding-left: 22px;
                               }
                            }
                            &__network{
                                a{
                                    color: #7a798c;
                                }
                                i{
                                    padding: 0 10px;
                                    margin: 0 auto;
                                }
                                i:hover{
                                    color: #fff;
                                }
                            }
                            
                     
                           
                            
                        }
                    }
                }
               
             
                .simplebar-scrollbar:before{
                background: #fff;
                border-radius: 0;
                width: 4px;
                margin-left: 6px;
                                  
                }
             
                
            

               
               /* .text:hover{
                    overflow: auto;
                }*/
                
            }
        }
        .section{
            
            height: 500px;
            .sm-block({
               height: 700px; 
               padding: 5px ;      
            });
            
            .col();
            .size(8);
            .size-sm(12);
            .size-ipad(12);
            .size-xs(12);
            
            
            .button{
                width: 100%;
                
                .md-block({
                    
                    position: relative;
                    right: 385px;
                    top: 340px;

                    width: 320px;
                  
                    
                    
                });
                .sm-block({
                    position: absolute;
                    left: 0px;
                    top: 400px;
                });
                .ipad-block({
                    position: absolute;
                    left: 40px;
                    top: 400px;
                });
                .xs-block({
                  
                    position: absolute;
                    left: 35px;
                    
                });
                .xxs-block({
                   top: 390px
                    
                  });
                  .extra-block({
                  top:380px;
                    
                    
                  });
                
                
                height: 90px;
                
                .col();
                
                .btn{
                    .md-block({
                        margin: 0 auto;
                        
                    });
                    display: flex;
                    
                                     
                    margin-left: 67%;
                    margin-right: 0;
                    padding-top: 25px;
                    
                    &__text{
                        background: #8583e1; 
                        padding:22px;

                        .sm-block({
                           padding: 16px;
                           
                        });
                       
                        p{
                            color: #fff;
                            font-family: @font;
                            font-size: 14px;

                            .sm-block({
                                font-size: 15px;
                                font-weight: 600;
                                margin-top: 2px;
                             });
                         
                        }
                    }
                    &__arrow{
                        background: #100f3a;
                        padding: 22px 22px;
                        i{
                            color: #fff;
                            width: 23px;
                        }
                    }
                }
            }
           
            .heading{
                text-align: start;
                font-family: @font;
                margin-left: 65px;
                margin-top: 60px;
                
                height: 170px;
               h4{
                font-size: 30px;
                font-weight: 500;
                color: #7a798c;
                line-height: 0.75;
                .sm-block({
                    
                    line-height: 1.35;
                    text-align: center;
                    margin-top: 50px;
                    
                });
                .ipad-block({
                    
                    line-height: 1.35;
                    text-align: center;
                    margin-top: 25px;
                    
                });
                .xxs-block({
                   
                    margin-top: 80px;
                    
                });
                
                
               }
               h2{
                font-size: 65px;
                font-weight: 800;
                color: #100f3a;
                line-height: 0.75;
                margin-top: 45px;
                .md-block({
                    font-size: 75px;
                    line-height: 0.95;
                    
                });
                .sm-block({
                    font-size: 60px;
                    line-height: 1.35;
                    text-align: center;
                    margin-top: 30px;
                    
                });
                .ipad-block({
                    font-size: 56px;
                    line-height: 1.35;
                    text-align: center;
                    margin-top: 40px;
                    
                });
                .xxs-block({
                    font-size: 50px;
                    margin-top: 60px;
                    
                });
               }
               .sklillHead{
               
                padding-top: 70px;
                padding-left: 70px;
               
           
             }
             .portHead{
                 padding-top: 40px;
             }
             .eduHead{
                padding-top: 40px;
                padding-left: 50px;
             }
             .contactHead{
                padding-top: 40px;
             }
           
            }
            
          
            .scrollContent{
                .port{
                    background: red;
                    height: 50px;

                }
                 .eduction{
                    margin: 40px 20px;
                    width: 80%;
                     
                    
                 }
                 
                .con{

                    display: flex;

                    .contact{
                        width: 100%;
                       .form{
                           margin-top: 60px;
                           margin-right: 70px;
                           input{
                               width: 100%;
                               border: none;
                               border-bottom: 2px solid #a5a5a5;
                               height: 40px;
                               background: transparent;
                               color: #a5a5a5;
                               font-size: 16px;
                               font-family: @font;
                               font-weight: 600;
                               padding: 5px 0;
                               margin: 5px 0;
                              
                           }
                           #mes{
                               height: 125px;
                               width: 100%;
                               border: none;
                               border-bottom: 2px solid #a5a5a5;
                               
                               background: transparent;
                               
                               
                               padding: 5px 0;
                               margin: 5px 0;
                           }
                           #mes::placeholder{
                            font-size: 16px;
                            font-family: @font;
                            font-weight: 600;
                            color: #a5a5a5;
                           }
                           #mes:focus{
                            border-bottom: 2px solid #8583e1;
                            outline: none;
                          }
                           input:focus{
                             border-bottom: 2px solid #8583e1;
                             outline: none;
                           }
                           input:hover{
                            border-bottom: 2px solid #8583e1;
                            outline: none;
                          }
                           .btn{
                            border: 1px solid #8583e1;
                            background: #8583e1;
                            margin-top: 40px;
                            width: 239px;
                            height: 55px;
                            font-size: 16px;
                            font-family: @font;
                            font-weight: 600;
                            color: #fff;
                        }
                        .btn:hover{
                            background: #100f3a;
                            border: 1px solid #100f3a;
                        }
                       }
                    }
                    .link{
                        
                      
                        .infor{
                            color: #100f3a;
                            font-size: 20px;
                            font-family: @font;
                            font-weight: 600;
                            width: 110px;
                            text-align: right;
                        }
                        .fab{
                            color: #8583e1;
                            
                            width: 110px;
                            font-size: 25px;
                            
                            text-align: right; 
                        }
                        .fas{
                            color: #8583e1;
                            
                            width: 110px;
                            font-size: 25px;
                            
                            text-align: right; 
                        }
                        .sv{
                            align-self:center;
                            font-size: 16px;
                            font-family: @font;
                            font-weight: 600;
                            color: #a5a5a5;
                            padding-left: 20px;
                        }
                        .phone{
                            display: flex;
                            margin-top: 10px;
                        }
                        .e-mail{
                            display: flex;
                            margin-top: 10px;
                            
                        }
                        .skype{
                            display: flex;
                            margin-top: 10px;
                        }
                        width: 100%;
                        
                      
                        
                    }
                    .map{
                        
                     width: 100%;
                     
                 }
                }
              
                .md-block({
                  
                    width: 90%;
                    margin: 0 auto;
                    position: relative;
                    top: 18%;
                    height: 92%;

                    
                });
                .sm-block({
                    position: relative;
                    top: 130px;
                   
                    height: 330px;
                });
                .ipad-block({
                   
                    position: relative;
                    top: 30px;
                   
                    height: 250px;
                });
                .xs-block({
                    height: 280px;
                    
                });
               
                width: 90%;
                height:370px;
                margin-left: auto;
                margin-right: 26px;
                margin-top: 20px;
                
                
                h3{
                    font-size: 30px;
                    font-weight: 700;
                    color: #100f3a;
                    font-family: @font;
                    padding-left: 2px;
                    padding-bottom: 40px;
                    .md-block({
                        
                       margin-left: 8%;
                    });  
                    
                }
                p{
                    font-family: @font;
                    font-size: 14px;
                    line-height: 1.85714;
                    font-weight: 500;
                    color: #838293;
                    padding-left: 2px;
                    width: 83%;
                    
                    .md-block({
                        
                     margin: 0 auto;
                    });  
                   
                }
                .pr{
                    display: flex;
                    flex-wrap: wrap;
                    margin: 0  10%;
                    width: 100%;
                    
                   
                    .md-block({
                     
                     width: 600px;
                     margin: 0 auto
                     
                    });  
                    .xxs-block({
                     
                       display: block;
                     
                        
                       });  
                   
                   .block{
                       width: 437px;
                       .md-block({
                        
                        width: 300px;
                        margin: 0 auto;
                       });  
                       .xxs-block({
                     
                        
                        margin-left: 70px;
                      
                         
                        });  
                      
                       
                   
                    .progress-percentage{
                        color: rgb(16, 15, 58);
                        position: relative;
                        left: 30%;
                        top: 60%;
                        font-family: @font;
                        font-size: 44px;
                        font-weight: 700;
                        
                    }
                    &__text{
                        width: 265px;
                        margin-top: 70px;
                        
                        h4{
                            text-align: center;
                            font-size: 16px;
                            font-weight: 700;
                            color: #100f3a;
                            text-transform: uppercase;
                            line-height: 0.75;
                            font-family: @font;
                        }
                        p{
                            width: 265px;
                            text-align: center;
                            font-size: 14px;
                            font-weight: 500;
                            color: #7a798c;
                            margin-top: 12px;
                            font-family: @font;

                        }
                    }

                   
                   }
                        
                        
                      
                      
                    
                      
                }
               
                
            }
            .scrollSkills{
                .skills{
                    display: flex; 
                    padding: 5px;
                }
                .linearProgress{
                    .js{
                        display: flex;
                    }
                }
                
            }
            .simplebar-scrollbar:before{
                background: #3e3be4;
                border-radius: 0;
                width: 4px;
                margin-left: 6px;
                
                  
                
               
                                 
                }

               
              
            
              
               
        }
    }
}



