header{
    .menu{
        .row-flex();
        
        padding-top: 35px;
        
        .logo{
            .col();
            .size(3);
            align-self: center;
            font-size: 36px;
            font-weight: 800;
            font-family: @font;
            text-align: left;
            margin: 0;
            min-width: 340px;
           
           
            
            a{
                color: #100f3a;
                text-decoration: none;
                
                span{
                    color: #8583e1;
                }
            }
            
        }
        .nav{
            .col();
            .size(5);
            .md-block({
                display: none
            });
           
            display: flex;
            flex-wrap: wrap;
            min-width: 600px;
            
                   
          
             margin: 0;
            
            .item:not(:last-child){
                margin-right: 1px;
            }
            
            .item{
                background: #100f3a;
                transition: all 200ms;
                
                
                
                a{
                    text-decoration: none;
                    display: block;
                    padding-left: 24px;
                    padding-right: 24px;
                    line-height: 59px;
                    color: #FFFFFF;
                    font-size: 16px;
                    font-weight: 400;
                    
                    
                }
            }
          
            .item:hover{
                background: #8583e1;
                
            }
           
            
        }
        .button{
            .col();
            .size(4);
           
            
            .md-block({
                
                position: relative;
                right: 385px;
                top: 340px;

                width: 320px;
              
                
                
            });
            .sm-block({
                position: absolute;
                left: 0px;
                top: 400px;
            });
            .ipad-block({
                position: absolute;
                left: 40px;
                top: 400px;
            });
            .xs-block({
              
                position: absolute;
                left: 35px;
                
            });
            .xxs-block({
               top: 390px
                
              });
              .extra-block({
              top:380px;
                
                
              });
            
            
           
            
            .col();
                margin-right: 0;
                margin-left: auto;
            .btn{
                .md-block({
                    margin: 0 auto;
                    
                });
                display: flex;
                margin-right: 0;
                margin-left: auto;

                                 
                
                
                &__text{
                  
                    

                    .sm-block({
                       padding: 16px;
                       
                    });
                   
                    a{
                        color: #fff;
                        font-family: @font;
                        font-size: 14px;
                        display: block;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 60px;
                       text-decoration: none;
                       transition: all 200ms;
                       background: #8583e1;
                        padding-left: 22px;
                        padding-right: 22px;

                        .sm-block({
                            font-size: 15px;
                            font-weight: 600;
                            margin-top: 2px;
                         });
                     
                    }
                    a:hover{
                        background: #100f3a;
                    }
                }
                &__arrow{
                    background: #100f3a;
                   
                    i{
                        padding: 22px 22px;
                        color: #fff;
                        width: 22px;
                        
                    }
                }
            }
        }
        .menu{
           background: #100f3a;
           max-width: 55px;
           min-width: 55px;
          display: none;
          .md-block({
              display: block;
              position: absolute;
              left: 80%;
              top: -20px;
              width: 250px;
              z-index: 1;
              margin-left: -20px; 
              
            
            
          });
          .sm-block({
            margin-left: -90px; 
            top: -20px;
          });
          .ssm-block({
            margin-left: -112px; 
            top: -20px;
          });
          
          .ipad-block({
           position: absolute;
           right: 10px;
            
          });
         
            .active{
               color: #7a798c;
               text-transform: uppercase;
               font-size: 16px;
               font-family: @font;
               font-weight: 700;
               position: relative;
               bottom: 10px;
               padding-right: 20px;
              text-align: right;
               z-index: 2;
           
                .hover{
                    display: none;
                    position: relative;
                    top: 10px;
                    margin-right: 3px;
                    font-size: 16px;
                    text-transform: uppercase;
                    font-weight: 700;
                    color: #100f3a;
                    font-family: @font;
                    background: #fff;
                    
                    height: 300px;
                    transition: 5s;
                    
                    padding: 0;
                    
                    z-index: 1;
                    line-height: 30px;
                    .xxss-block({
                        
                        
                        text-align: center
                    });
                    .md-block({
                        display: block;
                        
                        text-align: right;
                        

                        a{
                            text-decoration: none;
                        }
                        
                      
                    });
                }
               
                .hover:hover{
                    display: block;
                   
                }
            }
        }
    }
}